/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "pagination.scss";

/* Estilos para paginação Kaminari */
.pagination {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.pagination a,
.pagination .current,
.pagination em,
.pagination span {
  padding: 4px 8px;
  text-decoration: none;
  color: #0d6efd;
}

.pagination a:hover {
  text-decoration: underline;
}

.pagination .current,
.pagination em {
  font-weight: bold;
  color: #000;
  font-style: normal;
}

.pagination .disabled {
  color: #6c757d;
  pointer-events: none;
}
